.loginContainer{
    border-radius: 3%;
    margin-top: 7%;
    margin-left: 33%;
    background-color: rgba(128, 128, 128, 50%);
    width: 35%;
    height: 60%;
}

.title{
    font-family: Garamond, serif;
    font-weight: bolder;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 3%;
    width: 40%;
  }

  
  .usernameInput{
    margin-left: 20%;
    cursor: pointer;
  }

  .passwordInput{
    margin-left: 20%;
    cursor: pointer;
  }


 